@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap')

// Variables
$font-stack: 'Outfit', sans-serif
$bg-primary: #000
    
body 
    display: flex
    justify-content: center
    place-content: center
    align-items: center
    height: 100vh
    font-family: $font-stack
    overflow: hidden