@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
    box-sizing: content-box;
}
.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

.card {
    width: 250px;
    height: 440px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px 40px 40px;
    background: white;
    border-radius: 20px;
    transition: all 0.8s;
    flex: wrap;
    display: flex;
    flex-wrap: wrap;  
    position: absolute;
    top: 25%;
    left: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    position: relative;
    top: -1%;
    right: 8%;
    float: center;
    height: 45%;
    border-radius: 20px;
}

h1 {
    position: relative;
    top: 0%;
    right: 8%;
    font-size: 20px;
    text-align: center;
}

.small-text {
    font-size: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    position: relative;
    top: 2%;
    right: 8%;
    
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: -webkit-fill-available;
}

@media (max-width: 375px) {
    .card {
        width: 200px;
        height: 400px;
        padding: 20px 20px 40px;
        position: absolute;
        top: 0%;
        right: 15%;
    }
    img {
        height: 40%;
    }
    h1 {
        font-size: 18px;
    }
    .small-text {
        font-size: 13px;
    }
}